* {
  margin: 0;
  padding: 0;
  font-family: 'Karla';
  line-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section{
  display: flex;
  justify-content: center;
  width: 887px;
}
.column, .row{
  display: flex;
  justify-content: center;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
header, footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
header{
  margin-top: 24px;
  margin-bottom: 24px;
  gap: 48px;
}
h1, h2, h3, h4, h5 {
  font-family: 'Markazi Text';
  font-weight: 500;
  width: max-content;
}
h1 {
  font-size: 4rem;
}
h3 {
  font-size: 2.5rem;
  color: #EDEFEE;
}
ul {
  list-style-type: none;
  gap: 28px;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Karla';
  color: #000;
}
p {
  font-size: 1rem;
  font-weight: medium;
  font-family: 'Karla';
  color: #000;
  line-height: 140%;
  width: auto;
}
button {
  font-size: 1.125rem;
  font-weight: medium;
  font-family: 'Karla';
  color: #000;
  background-color: #F4CE14;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 16px;
  width: 183px;
  height: 100%;
}
.firstSection {
  margin-bottom: 80px;
}
.background {
  width: 100vw;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  justify-content: center;
}
.gap32 {
  gap: 32px;
}
article {
  display: flex;
  gap: 16px;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 80px;
}
.invisible{
  width: 100%;
  height: 100%;
  text-align: center;
}
.alignLeft {
  justify-content: left;
}
.card {
  display: flex;
  justify-content: start;
  width: 100%;
}
h4{
  color: #000;
  font-size: 2rem;
  width: max-content;
}
h5{
  color: #EE9972;
  font-size: 1.5rem;
  text-align: left;
}
.OrderDeliveryButton {
  background: transparent;  
  padding: 0;
  text-align: left;
}
.pad24 {
  padding: 24px;
}
.cardDesc {
  height: 120px;
  width: 217px;
}
.cardTitleAndPrice {
  text-align: center;
  gap: auto;
  width: auto;
}
.cardInfo, .testimonialInfo{ 
  background-color: #EDEFEE;
}
.testimonialInfo {
  padding: 32px;
  justify-content: start;
  gap: 24px;
}
.testimonialText {
  height: 132px;
  color: #495E57;
}
.testimaonialName {
  color: #495E57;
}
.gap16 {
  gap: 16px;
}
.widthAuto {
  width: auto;
  justify-content: left;
}
footer {
  gap: 56px;
  justify-content: center;
  background-color: #495E57;
  padding: 56px;
}
footer nav {
  align-items: start;
  gap: 72px;
}
footer nav ul {
  width: max-content;
}
footer nav ul li a, footer nav ul li h4{
  color: #EDEFEE;
}
nav ul h4 {
  font-family: 'Karla';
  font-weight: 800;
  font-size: 1.5rem;
  max-width: 180px;
  line-height: 120%;
  height: 42px;
}
.aboutSection {
  gap: 82px;
}
.aboutSection article p, .aboutSection article h1 {
  color: #495E57;
}
.profileImage {
  width: 56px;
  height: 56px;
}
.rating {
  width: 120px;
  height: 16px;
}
@media screen and (max-width: 919px){
  .row, header, footer, .aboutSection {
    flex-direction: column;
  }
  article {
    width: auto;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  p, h1, h2, h3, h4, h5, section, div{
    width: auto;
  }
  img {
    width: auto;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  button, .OrderDeliveryButton{
    width: auto;
  }
  .firstSection section {
    gap: 16px;
  }
  .card, .cardInfo {
    justify-content: center;
    width: auto;
  }
  .cardImage {
    width: auto;
    padding: 0;
  }
  .invisible {
    width: auto;
    height: auto;
    text-align: left;
    justify-content: left;
  }
  .testimonialInfo {
    width: auto;
    padding: 16px;
  }
  section {
    justify-content: center;
  }
  .personInfo {
    flex-direction: row;
    justify-content: start;
  }
  .profileImage {
    padding: 0;
  }
  .testimonialText {
    height: auto;
  }
  div {
    align-items: left;
  }
}